In [1]:
import pickle
import pandas as pd
import time
from py_translator import Translator
translator = Translator()

In [2]:
dic_uniques = pickle.load( open( "_data/dic_to_translate.pickle", "rb" ) )

In [3]:
df = pd.DataFrame.from_dict(dic_uniques, orient='index')

In [4]:
df.columns = ['materials']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38807 entries, simili_cuir to robert_kaufmann_indigo_linen
Data columns (total 1 columns):
materials    38807 non-null object
dtypes: object(1)
memory usage: 606.4+ KB

In [6]:
df.head()

                 materials
simili_cuir    simili cuir
polaire            polaire
lin                    lin
lin_enduit      lin enduit
coton_enduit  coton enduit

In [7]:
dic_list = df['materials'].values.tolist()

In [9]:
dic_list[:10]

['simili cuir',
 'polaire',
 'lin',
 'lin enduit',
 'coton enduit',
 'suÃ©dine',
 'lapis lazuli',
 'cosses',
 'sarrasin',
 'flocons de fibres de polyester']

In [10]:
len(dic_list)

38807

In [11]:
def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]

In [12]:
chunk_value = 120
google_max = 3900

In [13]:
gen = chunks(dic_list, chunk_value)

In [14]:
source_texts = []

In [15]:
for idx in range(1, int((len(dic_list)/chunk_value) + 1)):
    txt = '\n'.join(next(gen))
    if (len(txt)) >= google_max:
        print(len(txt))
    source_texts.append(txt)

4023
4424
4015
4033
3907
4355
4004
4164
4479
4318
4089

In [16]:
len(source_texts)

323

In [17]:
def translateList(liste):
    translated_texts = []
    for index, txt in enumerate(liste):
        txt_translated = translator.translate(txt)
        if txt_translated == 'TRANSLATION_ERROR':
            print('TRANSLATION_ERROR {}'.format(index))
        else:
            print('OK {}'.format(index))
        translated_texts.append(txt_translated)
    return translated_texts

In [18]:
translated_texts = translateList(source_texts[0:50])

OK 0
OK 1
OK 2
OK 3
OK 4
OK 5
OK 6
OK 7
OK 8
OK 9
OK 10
OK 11
OK 12
OK 13
OK 14
OK 15
OK 16
OK 17
OK 18
OK 19
OK 20
OK 21
OK 22
OK 23
OK 24
OK 25
OK 26
OK 27
OK 28
OK 29
OK 30
OK 31
OK 32
OK 33
OK 34
OK 35
OK 36
OK 37
OK 38
OK 39
OK 40
OK 41
OK 42
OK 43
OK 44
OK 45
OK 46
OK 47
OK 48
OK 49

In [19]:
pickle.dump( translated_texts, open( "_data/translated_texts_0_50.pickle", "wb" ) )

In [21]:
translated_texts = translateList(source_texts[50:100])

OK 0
OK 1
OK 2
OK 3
OK 4
OK 5
OK 6
OK 7
OK 8
OK 9
OK 10
OK 11
OK 12
OK 13
OK 14
OK 15
OK 16
OK 17
OK 18
OK 19
OK 20
OK 21
OK 22
OK 23
OK 24
OK 25
OK 26
OK 27
OK 28
OK 29
OK 30
OK 31
OK 32
OK 33
OK 34
OK 35
OK 36
OK 37
OK 38
OK 39
OK 40
OK 41
OK 42
OK 43
OK 44
OK 45
OK 46
OK 47
OK 48
OK 49

In [22]:
pickle.dump( translated_texts, open( "_data/translated_texts_50_100.pickle", "wb" ) )

In [24]:
translated_texts = translateList(source_texts[100:150])

OK 0
OK 1
OK 2
OK 3
OK 4
OK 5
OK 6
OK 7
OK 8
OK 9
OK 10
OK 11
OK 12
OK 13
OK 14
OK 15
OK 16
OK 17
OK 18
OK 19
OK 20
OK 21
OK 22
OK 23
OK 24
OK 25
OK 26
OK 27
OK 28
OK 29
OK 30
OK 31
OK 32
OK 33
OK 34
OK 35
OK 36
OK 37
OK 38
OK 39
OK 40
OK 41
OK 42
OK 43
OK 44
OK 45
OK 46
OK 47
OK 48
OK 49

In [25]:
pickle.dump( translated_texts, open( "_data/translated_texts_100_150.pickle", "wb" ) )

In [27]:
translated_texts = translateList(source_texts[150:200])

OK 0
OK 1
OK 2
OK 3
OK 4
OK 5
OK 6
OK 7
OK 8
OK 9
OK 10
OK 11
OK 12
OK 13
OK 14
OK 15
OK 16
OK 17
OK 18
OK 19
OK 20
OK 21
OK 22
OK 23
OK 24
OK 25
OK 26
OK 27
OK 28
OK 29
OK 30
OK 31
OK 32
OK 33
OK 34
OK 35
OK 36
OK 37
OK 38
OK 39
OK 40
OK 41
OK 42
OK 43
OK 44
OK 45
OK 46
OK 47
OK 48
OK 49

In [28]:
pickle.dump( translated_texts, open( "_data/translated_texts_150_200.pickle", "wb" ) )

In [29]:
translated_texts = translateList(source_texts[200:250])

OK 0
OK 1
OK 2
OK 3
OK 4
OK 5
OK 6
OK 7
OK 8
OK 9
OK 10
OK 11
OK 12
OK 13
OK 14
OK 15
OK 16
OK 17
OK 18
OK 19
OK 20
OK 21
OK 22
OK 23
OK 24
OK 25
OK 26
OK 27
OK 28
OK 29
OK 30
OK 31
OK 32
OK 33
OK 34
OK 35
OK 36
OK 37
OK 38
OK 39
OK 40
OK 41
OK 42
OK 43
OK 44
OK 45
OK 46
OK 47
OK 48
OK 49

In [30]:
pickle.dump( translated_texts, open( "_data/translated_texts_200_250.pickle", "wb" ) )

In [31]:
translated_texts = translateList(source_texts[250:])

OK 0
OK 1
OK 2
OK 3
OK 4
OK 5
OK 6
OK 7
OK 8
OK 9
OK 10
OK 11
OK 12
OK 13
OK 14
OK 15
OK 16
OK 17
OK 18
OK 19
OK 20
OK 21
OK 22
OK 23
OK 24
OK 25
OK 26
OK 27
OK 28
OK 29
OK 30
OK 31
OK 32
OK 33
OK 34
OK 35
OK 36
OK 37
OK 38
OK 39
OK 40
OK 41
OK 42
OK 43
OK 44
OK 45
OK 46
OK 47
OK 48
OK 49
OK 50
OK 51
OK 52
OK 53
OK 54
OK 55
OK 56
OK 57
OK 58
OK 59
OK 60
OK 61
OK 62
OK 63
OK 64
OK 65
OK 66
OK 67
OK 68
OK 69
OK 70
OK 71
OK 72

In [32]:
pickle.dump( translated_texts, open( "_data/translated_texts_250_323.pickle", "wb" ) )

In [34]:
translator.translate('Bonjour').text

'Hello'