In [1]:
import pandas as pd

In [2]:
ETSY_ROUND = '_2019'
OUTPUT_FOLDER = ETSY_ROUND + '/output/'

In [3]:
df_fr = pd.read_excel(OUTPUT_FOLDER + 'uniques_to_translate.xlsx')
df_en = pd.read_excel(OUTPUT_FOLDER + 'uniques_translated.xlsx')

In [4]:
df_fr.head()

   Unnamed: 0           0
0       laine       laine
1        soie        soie
2  pure_laine  pure laine
3      alpaga      alpaga
4      tricot      tricot

In [5]:
df_en.head()

   Unnamed: 0          0
0           0       wool
1           1       silk
2           2  pure wool
3           3     alpaca
4           4   knitting

In [6]:
df_fr.columns = ['key', 'fr']
df_fr.head()

          key          fr
0       laine       laine
1        soie        soie
2  pure_laine  pure laine
3      alpaga      alpaga
4      tricot      tricot

In [7]:
df_fr['en'] = df_en[0]

In [8]:
df_fr.head()

          key          fr         en
0       laine       laine       wool
1        soie        soie       silk
2  pure_laine  pure laine  pure wool
3      alpaga      alpaga     alpaca
4      tricot      tricot   knitting

In [9]:
df_final = df_fr.set_index(['key'])

In [10]:
df_final.head()

                    fr         en
key
laine            laine       wool
soie              soie       silk
pure_laine  pure laine  pure wool
alpaga          alpaga     alpaca
tricot          tricot   knitting

In [12]:
df_final.to_excel(OUTPUT_FOLDER + 'uniques_translate_final.xlsx')