In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('_data/df_final.csv')

In [3]:
df.head()

   Unnamed: 0  id_listing   key_texte translated_texte lemmanized_texte
0           0      444500       clasp            clasp              NaN
1           1      444500  turpentine       turpentine              NaN
2           2      444500      toggle           toggle           toggle
3           3      444500    sterling         sterling         sterling
4           4      444500      silver           silver           silver

In [4]:
df = df.dropna()

In [5]:
df.head()

   Unnamed: 0  id_listing  key_texte translated_texte lemmanized_texte
2           2      444500     toggle           toggle           toggle
3           3      444500   sterling         sterling         sterling
4           4      444500     silver           silver           silver
5           5      444500     pearls           pearls            pearl
6           6      444500  swarovski        swarovski        swarovski

In [6]:
df = df.groupby(['lemmanized_texte']).size().reset_index()

In [7]:
df.head()

     lemmanized_texte  0
0        100gsm paper  7
1                 10k  2
2  10o percent cotton  1
3               10x12  3
4               10x14  4

In [8]:
df.rename(columns={0 : 'counts'}, inplace=True)

In [9]:
df.head()

     lemmanized_texte  counts
0        100gsm paper       7
1                 10k       2
2  10o percent cotton       1
3               10x12       3
4               10x14       4

In [10]:
df_counts = df.sort_values('counts',ascending=False)

In [11]:
df_counts.head(5)

      lemmanized_texte  counts
8598            cotton   57527
14346            glass   39926
24371            paper   36790
21159            metal   31057
36690             wood   30585