In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('_data/df_final.csv')

In [3]:
df.head()

   Unnamed: 0  id_listing key_texte translated_texte lemmanized_texte
0           0   550866727     glass            glass            glass
1           1   639584419    copper           copper           copper
2           2   637314587    cotton           cotton           cotton
3           3   550857329    cotton           cotton           cotton
4           4   537056276      wood             wood             wood

In [4]:
df = df.dropna()

In [5]:
df.to_csv('_data/df_final_no_na.csv')

In [6]:
df_counts = df.groupby(['lemmanized_texte']).size().reset_index()

In [7]:
df_counts.head()

     lemmanized_texte  0
0             105x148  2
1  10o percent cotton  1
2               10x12  2
3               10x14  1
4               10x15  1

In [8]:
df_counts.rename(columns={0 : 'counts'}, inplace=True)

In [9]:
df_counts.head()

     lemmanized_texte  counts
0             105x148       2
1  10o percent cotton       1
2               10x12       2
3               10x14       1
4               10x15       1

In [10]:
df_counts = df_counts.sort_values('counts',ascending=False)

In [11]:
df_counts.head(5)

      lemmanized_texte  counts
16403            glass   58602
27528            paper   44684
34324           silver   44151
41080             wood   37555
11602            côton   37295

In [12]:
len(df)

1151303