In [1]:
import pandas as pd

In [2]:
ETSY_ROUND = '_2019'
OUTPUT_FOLDER = ETSY_ROUND + '/output/'

In [3]:
df = pd.read_csv(OUTPUT_FOLDER + 'df_final.csv')

In [4]:
len(df)

734124

In [5]:
df.head()

   Unnamed: 0  id_listing   key_texte translated_texte lemmanized_texte
0           0   743909687       laine             wool             wool
1           1   743909687      mohair           mohair           mohair
2           2   743909687        soie             silk             silk
3           3   743909687  pure_laine        pure wool             wool
4           4   742464511       laine             wool             wool

In [6]:
df = df.dropna()

In [7]:
len(df)

663324

In [12]:
df = df.drop(['Unnamed: 0'], axis = 1).set_index(['id_listing'])

In [13]:
df.head()

             key_texte translated_texte lemmanized_texte
id_listing
743909687        laine             wool             wool
743909687       mohair           mohair           mohair
743909687         soie             silk             silk
743909687   pure_laine        pure wool             wool
742464511        laine             wool             wool

In [14]:
df.to_csv(OUTPUT_FOLDER + 'df_final_no_na.csv')

In [15]:
df_counts = df.groupby(['lemmanized_texte']).size().reset_index()

In [16]:
df_counts.head()

     lemmanized_texte  0
0     100gsm envelope  3
1  10o percent cotton  1
2               10x10  1
3               10x12  2
4               10x14  1

In [18]:
df_counts.rename(columns={0 : 'counts'}, inplace=True)

In [19]:
df_counts.head()

     lemmanized_texte  counts
0     100gsm envelope       3
1  10o percent cotton       1
2               10x10       1
3               10x12       2
4               10x14       1

In [20]:
df_counts = df_counts.sort_values('counts',ascending=False)

In [21]:
df_counts.head(5)

      lemmanized_texte  counts
6928            cotton   46969
12182            glass   29994
20383            paper   26735
17826            metal   25212
30848             wood   23588

In [22]:
len(df)

663324